<div style="margin-bottom: 20px;">
    <h1>Tiendas</h1>
</div>
<div *ngIf="!formVisible" class="table-responsive actor-table-scroll shadow-sm rounded">
    <table class="table table-hover table-bordered">
        <thead class="table-primary text-center sticky-header">
            <tr>
                <th>ID de Tienda</th>
                <th>ID de Gerente</th>
                <th>ID de Dirección</th>
                <th>Última Actualización</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tienda of tiendas | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
                <td class="text-center">{{ tienda.store_id }}</td>
                <td>{{ tienda.manager_staff_id }}</td>
                <td>{{ tienda.address_id }}</td>
                <td>{{ tienda.last_update | date:'dd/MM/yyyy HH:mm:ss' }}</td>
            </tr>
        </tbody>
    </table>
</div>

<pagination-controls *ngIf="!formVisible" (pageChange)="page = $event" class="d-flex justify-content-center mt-3">
</pagination-controls>