<div style="margin-bottom: 20px;"><h1>Categorias</h1></div>
<div *ngIf="!formVisible" class="table-responsive actor-table-scroll shadow-sm rounded">
    <table class="table table-hover table-bordered">
      <thead class="table-primary text-center sticky-header">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Última Actualización</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
          <td class="text-center">{{ category.category_id }}</td>
          <td>{{ category.name }}</td>
          <td>{{ category.last_update | date:'dd/MM/yyyy HH:mm:ss' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <pagination-controls
    *ngIf="!formVisible"
    (pageChange)="page = $event"
    class="d-flex justify-content-center mt-3">
  </pagination-controls>
  